/* EventCard.css */
/* Update in EventCard.css */
.event-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  position: relative;
  left: 20px; /* shift right a bit from the timeline line */
}


.event-card:hover {
  transform: translateY(-5px);    /* Slight lift on hover for effect */
}

.event-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.event-date {
  margin: 5px 0;
  font-size: 0.9rem;
  color: gray;
}

.event-description {
  margin: 10px 0 0;
  font-size: 1rem;
}
